@include mq(lg) {
    body {
        font-size: 1.1em;
    }
}

/* ============================================= */
/*                grid-container                 */
/* ============================================= */

@include mq(med) {
    #employee-main {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    h2 {
        margin-left: 3.5em;
    }

    .header {
        @include flexlayout() {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    .search {
        width: 30%;
        margin:auto;
    }
}

/* ============================================= */
/*                  Footer                       */
/* ============================================= */

@include mq(lg) {
    #employee-main {
        width: 90%;
    }
    
    .search {
        margin-right: 4em;
    }

    .modal-card {
        width: 30%;
    }
}