* {
    box-sizing: border-box;
}

html {
    // background: url(/img/backgroundimg2.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #fff;
    height: 100%;
}

body {
    font-family: 'Merriweather', Arial, sans-serif;
    color: $color-black;
    min-height: 100vh;
    max-width: 1800px;
    @include flexlayout() {
        flex-direction: column;
    }
}

h2 {
    margin: 1.4em 1.4em 1.4em 1.8em;
    font-size: 1.2em;
}

.header {
    @include flexlayout() {
        flex-direction: column;
    }
}

.search {
    width: 50%;
    margin: 0 2.6em 0 auto;
    align-items: flex-end;
    padding: 0.4em 0.2em;
}

#employee-main {
    display: grid;
    width: 85%;
    margin: 1.2em auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(180px, 1fr);
    grid-gap: 1.2em;
}

.card {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-items: center;
    border: 2px solid $color-gray-lighter;
    border-radius: 10px;

    &:hover {
        background-color: $color-gray-lightest;
    }
}


.avatar {
    border-radius: 50%;
    text-align: center;
}


.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    display: hidden;
}

.modal-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    text-align: center;
    border: 2px solid $color-gray-lighter;
    border-radius: 10px;
    color: $color-gray;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-auto-rows: minmax(20px 1fr);

    & h3 {
        color: $color-black;
    }

    & p:first-child {
        text-align: right;
        margin-right: 1.2em;
    }
}

.close {
    cursor: pointer;
    grid-column: 1 / span 3;
}

.info {
    grid-column: 2 / 3;
}

.back,
.forward {
    cursor: pointer;
    align-self: center;
}

.back {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    // test
    // &:hover {
    //     background-color: red;
    // }
}

.forward {
    grid-column: 3 / 4;
    grid-row: 2 / 3
}

.info {
    width: 80%;
    margin: 0 auto;
}

// hr line default

hr.line {
    margin: 25px 0;
    border: 0;
    height: 1px;
    background-image: 
    linear-gradient(to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0));
}